
	p{
		color:yellow;
		font-size:20px;
		text-align:center;
		font-family: 'Verdana';
	}
	h2{
		color:green;
		font-size:20px;
		font-family:'Georgia'.
	}
	ul{
		color:cyan;
		font-size:20px;
	
	}
	ol{
	    color:cyan;
		font-size:20px;
	
	}